# * {
#   box-sizing: border-box;
# }

/******** mincss **********/
.hero {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1em;
    text-align: center;

}

.hero h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
    color: red;
}


/****************

****************/
.graphDiv{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
}

.graphDiv>div{
  flex: 50%; 
  text-align: center;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .graphDiv>div {
    flex: 100%;
  }
}